<template lang="html">
    <div class="ask-form">
        <h3>Ask a Question <br><small>Chat privately with a verfified practitioner</small></h3>
        <b-form>
            <b-form-group label="What can we help you with?">
                <b-form-select v-model="subject" :options="subjects"></b-form-select>
                <img src="../assets/down-arrow.svg" class="arrow" alt="">
            </b-form-group>
            <b-form-group label="What’s your question?" class="question">
                <b-form-textarea id="textarea1" v-model="question" placeholder="Enter something" :rows="12" :max-rows="12"></b-form-textarea>
                <div class="counter">{{ (question ? question.length : 0) + '/500' }}</div>
            </b-form-group>
            <div class="form-footer">
                <label class="fileinput">Attach file
                    <b-form-file v-model="file"></b-form-file>
                </label>
                <b-button type="submit" :disabled="!question || question.length === 0">Send</b-button>
            </div>
            <div class="note">Note: Not for emergency use</div>
        </b-form>
    </div>
</template>

<script>
import { subjects } from '../backend.json'

export default {
    data () {
        return {
            question: null,
            subject: null,
            file: null,
            subjects: [
                { value: null, text: 'Please select' },
                ...subjects
            ]
        }
    }
}
</script>

<style lang="scss">
.ask-form {
    padding-top: 16px;

    h3 {
        color: #5A6372;
        font-size: 24px;
        line-height: 28px;
        font-weight: bold;

        small {
            font-size: 14px;
            font-weight: bold;
        }
    }

    .form-group {
        max-width: 560px;
        margin: 0 auto;
        margin-bottom: 32px;
        position: relative;
        z-index: 1;

        legend {
            font-size: 14px;
            text-align: left;
        }
    }

    select {
        height: 44px;
        color: #98A3B6;
        font-size: 14px;
        line-height: 24px;
        font-weight: bold;
        border: 1px solid #E6E8EC;
        border-radius: 4px;

        &::placeholder {
            color: #98A3B6;
        }

        // &:focus {
        //     outline: none;
        //     box-shadow:none !important;
        // }
    }

    .arrow {
        width: 12px;
        height: auto;
        position: absolute;
        right: 12px;
        bottom: 14px;
    }

    textarea {
        resize: none;
        font-size: 14px;
        font-weight: bold;
        line-height: 24px;
        color: #98A3B6;
        border: 1px solid #E6E8EC;
        border-radius: 4px 4px 0 0;

        &:focus {
            outline: none;
            box-shadow:none !important;
        }
    }

    .question {
        margin-bottom: 0;
    }

    .counter {
        font-size: 12px;
        position: absolute;
        right: 0;
        top: 4px;
    }

    .form-footer {
        max-width: 560px;
        margin: 0 auto;
        border: 1px solid #E6E8EC;
        border-top: none;
        border-radius: 0 0 4px 4px;
        padding: 9px 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .fileinput {
            color: #5A6372;
            font-size: 12px;
            line-height: 40px;
            cursor: pointer;
            margin-bottom: 0;
            background-image: url('../assets/attach.svg');
            background-position: -4px center;
            background-repeat: no-repeat;
            background-size: 24px;
            padding-left: 20px;

            .b-form-file {
                display: none;
            }
        }

        .btn {
            height: 40px;
            padding: 0 32px;
            color: #fff;
            font-size: 14px;
            border-radius: 100px;
            border: 2px solid #27CCC0;
            background-color: #27CCC0;
            box-shadow: 0 2px 20px 0 rgba(0,0,0,0.1);

            &:disabled {
                border: 2px solid #98A3B6;
                background-color: #98A3B6;
            }
        }
    }

    .note {
        font-size: 10px;
        line-height: 21px;
        margin-top: 16px;
    }
}
</style>
