<template>
  <div class="home">
      <h2>How It Works</h2>
      <b-container>
          <b-row>
              <b-col class="column" sm>
                  <img src="../assets/icon-1.svg" alt="">
                  <h3>Explain Your Health Concern</h3>
                  <p>
                      Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  </p>
              </b-col>
              <b-col class="column" sm>
                  <img src="../assets/icon-2.svg" alt="">
                  <h3>Instant Responses from Mahmee</h3>
                  <p>
                      Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt
                  </p>
              </b-col>
              <b-col class="column" sm>
                  <img src="../assets/icon-3.svg" alt="">
                  <h3>Follow-up for Clarification</h3>
                  <p>
                      Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut
                  </p>
              </b-col>
          </b-row>
      </b-container>
  </div>
</template>

<style lang="scss">
.home {
    h2 {
        color: #7350E1;
        font-size: 28px;
        line-height: 64px;
        font-weight: bold;
        position: relative;
        margin-bottom: 32px;

        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 50px;
            margin-left: -25px;
            border-bottom: 1px #7350E1 solid;
        }
    }

    .column {
        img {
            clear: both;
            display: block;
            margin: 0 auto;
            margin-bottom: 24px;
        }

        h3 {
            color: #7350E1;
            font-size: 16px;
            font-weight: bold;
        }

        p {
            font-size: 14px;
        }
    }
}
</style>

<script>

export default {
  name: 'home',
  // components: {
  // }
}
</script>
