<template>
  <div class="questions">
    <div class="content">
        <div class="list">
            <question-list-item
                v-for="(question, idx) in questions"
                v-bind="question"
                :class="{ viewed: question.viewed, active: question.active }"
                :key="idx"
                v-on:click.native="selectCurrent(question)"
            ></question-list-item>
        </div>
        <div class="answers">
            <div class="current-question">
                <div class="subject" :style="{ color: subjects[currentQuestion.subject].color }">{{ subjects[currentQuestion.subject].text }}</div>
                <div class="text">{{ currentQuestion.text }}</div>
                <div class="menu"><img src="../assets/three-dots.svg" alt=""></div>
            </div>
            <div class="messages">
                <message-item
                    v-for="(message, idx) in messages"
                    v-bind="message"
                    :key="idx"
                ></message-item>
            </div>
            <b-form class="reply-form">
                <b-form-textarea v-model="reply" placeholder="Start typing… (1 response left)" :rows="2"></b-form-textarea>
                <div class="counter">{{ (reply ? reply.length : 0) + '/500' }}</div>
                <div class="form-footer">
                    <label class="fileinput"
                        :style="{ paddingLeft: file && 0, backgroundImage: file && 'none' }"
                    >
                        <span v-if="!file">Attach file</span>
                        <b-badge class="filename" v-if="file">
                            {{ file }}
                            <img src="../assets/close-button.svg" v-on:click="file = null" alt="">
                        </b-badge>
                        <b-form-file v-on:change="fileUpload" :disabled="!!file"></b-form-file>
                    </label>
                    <b-button type="submit" :disabled="!reply || reply.length === 0">Send</b-button>
                </div>
            </b-form>
        </div>
    </div>
  </div>
</template>

<script>
import QuestionListItem from '../components/QuestionListItem.vue'
import MessageItem from '../components/MessageItem.vue'
import { questions, messages, subjects as _subjects } from '../backend.json'

let subjects = {}

_subjects.forEach(subject => subjects[subject.value] = subject)

export default {
    data() {
        return {
            questions,
            subjects,
            messages,
            file: null,
            reply: null,
            currentQuestion: questions[1]
        }
    },
    methods: {
        selectCurrent(question) {
            this.questions.forEach(question => question.active = false)
            question.active = true
            question.viewed = true
            this.currentQuestion = question
        },

        fileUpload(e) {
            this.file = e.target.files[0].name
        }
    },
    components: {
        'question-list-item': QuestionListItem,
        'message-item': MessageItem
    }
}
</script>

<style lang="scss">
.questions {
    background-color: #fbfbfb;
    padding-bottom: 32px;

    .content {
        max-width: 1030px;
        margin: 0 auto;
        background: #fff;
        border: 1px solid #DFDFDF;
        display: flex;
        flex-direction: row;
        align-items: stretch;

        .list {
            text-align: left;
            // width: 300px;
            flex: 0 0 300px;
            border-right: 1px solid #DFDFDF;

            .question-list-item {
                cursor: pointer;
                padding: 20px 25px;
                border-bottom: 1px solid #DFDFDF;

                &:last-child {
                    border: none;
                }
            }
        }

        .answers {
            text-align: left;
            width: 100%;
            position: relative;

            .current-question {
                position: relative;
                padding: 20px 25px;
                border-bottom: 1px solid #DFDFDF;

                .subject {
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 21px;
                    margin-bottom: 8px;
                }

                .text {
                    font-size: 18px;
                    font-weight: bold;
                }

                .menu {
                    width: 17px;
                    position: absolute;
                    right: 24px;
                    top: 16px;
                    cursor: pointer;
                }
            }
        }

        @media (max-width: 767px) {
            .list {
                flex: 0 0 auto;
                width: 100%;
            }

            .answers {
                display: none;
            }
        }

        .reply-form {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 10;
            width: 100%;
            min-height: 120px;
            border-top: 1px solid #DFDFDF;

            .counter {
                position: absolute;
                right: 24px;
                top: 20px;
                color: #5A6372;
                font-size: 12px;
                line-height: 14px;
            }

            textarea {
                padding: 20px 86px 20px 24px;
                border: none;
                resize: none;
                color: #98A3B6;
                font-size: 14px;
                font-weight: bold;
                line-height: 24px;

                &:focus {
                    outline: none;
                    box-shadow:none !important;
                }
            }

            .form-footer {
                background: #fff;
                margin: 0 auto;
                border-top: 1px solid #DFDFDF;
                padding: 9px 20px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .fileinput {
                    color: #5A6372;
                    font-size: 12px;
                    line-height: 40px;
                    cursor: pointer;
                    margin-bottom: 0;
                    background-image: url('../assets/attach.svg');
                    background-position: -4px center;
                    background-repeat: no-repeat;
                    background-size: 24px;
                    padding-left: 20px;

                    .b-form-file {
                        display: none;
                    }

                    .filename {
                        font-size: 12px;
                        line-height: 14px;
                        color: #5A6372;
                        background-color: #F1FAF7;

                        img {
                            width: 14px;
                            height: 14px;
                        }
                    }
                }

                .btn {
                    height: 40px;
                    padding: 0 32px;
                    color: #fff;
                    font-size: 14px;
                    border-radius: 100px;
                    border: 2px solid #27CCC0;
                    background-color: #27CCC0;
                    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.1);

                    &:disabled {
                        border: 2px solid #98A3B6;
                        background-color: #98A3B6;
                    }
                }
            }
        }
    }

}
</style>
