<template lang="html">
    <div class="message">
        <div class="avatar"><img :src="avatar" alt=""></div>
        <div class="date">{{ date }}</div>
        <div class="name">{{ name }}</div>
        <div class="role">{{ role }}</div>
        <div class="text">{{ text }}</div>
        <div class="attached"><img v-if="!!attached" :src="attached" alt=""></div>
    </div>
</template>

<script>
export default {
    props: [ 'avatar', 'date', 'name', 'role', 'text', 'attached' ]
}
</script>

<style lang="scss">
.message {
    padding: 20px 24px;
    padding-left: 80px;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    color: #5A6372;
    position: relative;

    .avatar {
        position: absolute;
        left: 24px;
        top: 20px;

        img {
            width: 42px;
            height: 42px;
        }
    }

    .name {
        color: #3D444E;
        font-weight: bold;
        line-height: 16px;
    }

    .role {
        margin-bottom: 8px;
        font-size: 12px;
        color: #5A6372;
        font-weight: 500;
    }

    .date {
        position: absolute;
        right: 20px;
        top: 24px;
        font-size: 12px;
        line-height: 20px;
        font-weight: 500;
        color: #5A6372;
        text-shadow: 0 0 30px 0 rgba(0,0,0,0.3);
    }

    .attached {
        width: 400px;
        margin-top: 16px;

        img {
            width: 100%;
            height: auto;
        }
    }
}
</style>
