<template lang="html">
    <div class="question-list-item">
        <div class="date">{{ date }}</div>
        <div class="text">{{ text }}</div>
        <div class="subject" :style="{ color: subjects[subject].color }">{{ subjects[subject].text }}</div>
    </div>
</template>

<script>
import { subjects as _subjects } from '../backend.json'

let subjects = {}

_subjects.forEach(subject => subjects[subject.value] = subject)

export default {
    props: [ 'text', 'date', 'subject', 'viewed' ],
    data() {
        return {
            subjects
        }
    }
}
</script>

<style lang="scss">
.question-list-item {

    &.active, &:hover {
        background-color: #F5F9FA;
    }

    .date {
        color: #27CCC0;
        font-size: 14px;
        font-weight: 600;
        line-height: 21px;
        position: relative;
        margin-bottom: 4px;

        &::after {
            content: '•';
            font-size: 30px;
            position: absolute;
            left: -16px;
            top: 0px;
        }
    }

    .text {
        color: #3D444E;
        font-size: 14px;
        font-weight: bold;
        line-height: 20px;
        margin-bottom: 4px;
        text-overflow: ellipsis;
    }

    .subject {
        font-size: 14px;
        font-weight: 600;
        line-height: 21px;
    }

    &.viewed {
        .date {
            color: #5A6372;

            &::after {
                display: none;
            }
        }

        .text {
            color: #5A6372
        }
    }

}
</style>
