<template>
<div id="app">
    <b-navbar toggleable="md">
         <b-navbar-brand to="/">
             <img src="./assets/logo.png" alt="">
         </b-navbar-brand>
         <img class="question-icon" src="./assets/my-question-icon.svg" alt="" v-if="['questions'].indexOf($route.name) != -1 &&  $resize && $mq.below(768)">
         <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
         <b-collapse is-nav id="nav_collapse" right>
            <b-navbar-nav class="ml-auto">
                <b-nav-item to="/team">Care Team</b-nav-item>
                <b-nav-item to="/record">Health Record</b-nav-item>
                <b-nav-item to="/questions">My Questions</b-nav-item>
                <b-nav-item-dropdown text="Me" right>
                    <b-dropdown-item href="#">settings</b-dropdown-item>
                    <b-dropdown-item href="#">exit</b-dropdown-item>
                </b-nav-item-dropdown>
                <img class="avatar" src="avatar.png" alt="" v-if="$resize && $mq.above(768)">
            </b-navbar-nav>
        </b-collapse>
    </b-navbar>
    <b-jumbotron header="Ask a Question from Anywhere" lead="Get answers from Mahmee's Patient Care Team of licensed and certified practitioners" v-bind:style="{ marginBottom: ['questions'].indexOf($route.name) != -1 ? 0 : '40px' }">
        <p>Note: Not for emergency use.
            <span v-b-toggle.collapse1 class="collapse-btn">
                See <span class="more">more <img src="./assets/down-arrow.svg" alt=""></span>
                <span class="less">less <img src="./assets/down-arrow.svg" alt=""></span>
            </span>
             <b-collapse id="collapse1">
                 If you or your baby are experiencing a medical emergency, please call 911. Questions sent to Mahmee will always be answered as soon as possible, but may not be answered immediately. Questions sent overnight or requiring review by a specialist may take additional response time.
             </b-collapse>
         </p>
         <b-form-input class="asking" type="text" placeholder="Start asking a question"  v-b-modal.modal1></b-form-input>
    </b-jumbotron>
    <router-view/>
    <b-modal id="modal1" title="Bootstrap-Vue" size="lg" hide-header hide-footer>
        <my-ask></my-ask>
    </b-modal>
</div>
</template>

<script>
import Ask from './views/Ask.vue'

export default {
    components: {
        'my-ask': Ask
    }
}
</script>

<style lang="scss">
#app {
  font-family: Raleway;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

  .navbar {
      min-height: 60px;
      padding: 0 29px;
      border-bottom: 1px #e5e5e5 solid;

      font-size: 12px;
      font-weight: 500;
      line-height: 12px;

      &-brand img {
          height: 32px;
      }

      .question-icon {
          position: absolute;
          right: 90px;
          top: 20px;
      }

      .avatar {
          width: 32px;
          height: 32px;
          margin-top: 14px;
      }

      .nav-link {
          color: #5A6372;
          line-height: 60px;
          padding: 0 20px;

          &.active {
              color: #7350E1;
          }
      }

      .dropdown-menu {
          border-radius: 0;
          font-size: 12px;
      }

      .navbar-toggler {
          top: 20px;
          border: none;

          &-icon {
              background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(39, 204, 192, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
          }

          &:focus {
              outline: none;
          }
      }
  }

  .jumbotron {
      font-family: Raleway;
      background-color: #fbfbfb;
      border-radius: 0;

      h1 {
          color: #7350E1;
          font-size: 28px;
          line-height: 36px;
          font-weight: bold;
      }

      .lead {
          color: #5A6372;
          font-size: 16px;
          line-height: 21px;
          font-weight: 600;
      }

      p:not(.lead) {
          font-size: 12px;
          font-weight: 500;
          line-height: 21px;
          max-width: 480px;
          margin: 0 auto;

          margin-bottom: 32px;
      }

      .collapse-btn {
          color: #27CCC0;
          cursor: pointer;

          .more {
              display: none;
          }

          .less img {
              transform: rotate(180deg);
          }

          &.collapsed {
              .less {
                  display: none;
              }

              .more {
                  display: inline;
              }
          }
      }

      .asking {
          max-width: 730px;
          height: 60px;
          margin: 0 auto;
          box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
          border: 1px solid #DEDEDE;
          border-radius: 4px;
          font-family: Raleway;
          font-size: 14px;
          font-weight: 600;

          &::placeholder {
              color: #27CCC0;
          }
      }
  }

  .modal-content {
      border-radius: 6px;
  }
}
</style>
